__pycache__/
*.py[cod]
*$py.class

.env
*.env

venv/
.venv/
ENV/
env.bak/
env/

model/*.pth*
*.pt
*.pth
*.ckpt

logs/
*.log
*.out
*.err

.ipynb_checkpoints

htmlcov/
.tox/
.cache
coverage.xml
*.cover
*.coverage
*.pylint.d
nosetests.xml
coverag

.vscode
